# Version 2.0.2: Feb. 9, 2016
# Set Ostro execution mode
# mode = [live|sim]
mode=sim

# Set logging parameters
logger_name=TestLog
# logging level = [debug|info]
logging_level=debug
logging_loc=./ostro_log/test.log

# Set logging directory for resource status
resource_log_loc=./resource_log/

# Set logging directory for app request
app_log_loc=./app_log/

# Set maximum logfile size as Byte
max_log_size=1000000

# Set the location of daemon process id
# e.g., /etc/ostro2/ostro-daemon.pid
#process=/Users/gueyoungjung/Documents/Research/Ostro/code/ostro/code/ostro_server/ostro-daemon.pid
process=/Users/gjung/Documents/Research/Projects/Ostro/code/ostro/code/ostro_server/ostro-daemon.pid

# Set RPC server ip and port
rpc_server_ip=localhost
rpc_server_port=8002

# Inform the name of datacenter
datacenter_name=cirrus

# Set keystone APIs
keystone_url=http://cirrus201:35357/
keystone_tenant_token_api=v2.0/tokens
keystone_project_token_api=v3/projects

# Inform whether network controller (i.e., Tegu) has been deployed.
# If it does, set its API 
network_control=no
network_control_api=http://cirrus201.research.att.com:29444/tegu/api

# Set trigger time or frequency for checking datacenter topology (i.e., call AIC Formation)
topology_trigger_time=24:00
topology_trigger_frequency=0

# Set trigger time or frequency for checking compute hosting server status (i.e., call Nova)
compute_trigger_time=01:00
compute_trigger_frequency=0

# Set OpenStack Nova APIs
nova_url=http://cirrus201:8774/
nova_host_resources_api=v2/os-hypervisors/detail
nova_host_zones_api=v2/os-hosts
nova_host_aggregates_api=v2/os-aggregates
nova_flavors_api=v2/flavors/detail

# Set static overbooking ratios
vcpus_overbooking_per_core=16
memory_overbooking_ratio=1.5
local_disk_overbooking_ratio=2

# Set database keyspace
db_keyspace=none

# Inform the name of controller
control_loc=cirrus201

# Set the location of authentication file (i.e., ostro.auth)
auth_loc=./ostro.auth

# Set the location of simulation configuration file (i.e., ostro_sim.cfg).
# This is used only when the simulation mode
sim_cfg_loc=./ostro_sim.cfg


